
// Body
$body-bg: #fff;
$body-bg-default: #f5f8fa;
$body-bg-default-dark: rgb(37, 37, 38);
// Borders
$laravel-border-color: darken($body-bg-default, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

$black-transprent: rgba(0,0,0,.06);

$footer-bg: #333333;
$footer-bg-down: #3C3C3C;

$ugest-border: solid 1px $black-transprent;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf293d;

$orangered: rgb(255, 0, 98);

$system-color: #D5A368;
$system-color-transparent-1: #d5a26877;
$system-color-transparent: #D5A36815;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$default-radius: 4px;

$color-transparent: rgba(0,0,0,.2);

$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);