
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@font-face {
    font-family: 'Releway';
    src: url('../font//Raleway.ttf');
}

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./main.scss";

button{
    outline: none !important;
    background-color: transparent;
}