.loaderContainer{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 999;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .loaderAnimation{
        position: relative;
        border-bottom: solid 2px $system-color;
        border-radius: 50% !important;
        height: 70px;
        width: 70px;
        margin-bottom: 1rem;
        animation: load 1s linear infinite;

        &::after{
            content: '';
            position: absolute;
            border-top: solid 2px $body-bg-default-dark;
            border-radius: 50% !important;
            height: 68px;
            width: 68px;
            margin-bottom: 1rem;
            animation: load 2s linear infinite;    
        }
    }

    &>div:last-child{
        color: #fff;
    }
}