#root{
    font-family: 'Releway';

    & .btn-location{
        display: flex;
        align-items: center;
        flex-direction: row;
        border: solid 1px #E5E5E5;
        outline: none;
        user-select: none;
        border-radius: 100px;
        height: 30px;
        width: 120px;
        padding-right: 1.5rem;
        font-size: 13px;
        background-color: transparent;
        white-space: nowrap !important;

        &>*:first-child{
            width: 40px;
            margin-top: .2rem;
        }
    }

    &>main{
        height: 100vh;
        display: flex;
        flex-direction: row;
        background-color: $body-bg-default;

        &>aside{
            position: relative;
            background-color: $footer-bg;
            width: 45px;
            display: flex;
            flex-direction: column;
            transition: all .3s !important;
            overflow-x: hidden;

            &>div{
                display: flex;

                &:first-child{
                    padding: 0 1rem;
                    align-items: center;
                    height: 65px;
    
                    & .menuButton{
                        color: $navbar-default-bg;
                        border: none;
                        user-select: none;
                        font-weight: normal;
                        font-size: 12pt;
                    }
                } 
                &:last-child{
                    flex-direction: column;
                    flex: 1;

                    & ul{
                        list-style: none;
                        margin: 0;
                        padding: 0 !important;

                        & a{
                            color: $body-bg-default;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border-left: solid 3px transparent;
                            padding: 1rem;
                            text-decoration: none;
                            white-space: nowrap;

                            &[active="true"]{
                                background-color: $system-color-transparent;
                                color: $system-color;
                                border-left: solid 3px $system-color;
                            }

                            & i{
                                margin-right: 2rem;
                            }
                        }
                    }
                }
            }
        }

        &>*:last-child{
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        & .btn{
            background-color: transparent;
            border: none;
        }

        &>div>header{
            background-color: $navbar-default-bg;
            border-bottom: $ugest-border;
            height: 65px;
            max-height: 65px;

            a{
                color: $text-color;
            }
            a:hover{
                color: $system-color;
            }            
            
            & .container{
                padding: .5rem 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;

                & .logoBox{
                    overflow: hidden;
                    height: 5rem;
                    max-width: 15rem;

                    & img{
                        width: 70%;
                    }
                }

                &>div{
                    display: flex;
                    align-items: center;

                    & svg{
                        fill: #636b6f !important;
                    }
                    &:nth-child(2){
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;

                        & ul{
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin: 0;
                            padding: 0;

                            & a:link,
                            & a:visited
                            & a{
                                text-decoration: none;
                                font-size: 10.5pt;
                                text-transform: uppercase;
                                padding: 0 1rem;
                                margin-top: .5rem;
                                transition: all .3s;
                            }
                        }
                    }
                    &:last-child{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        & .btn-search{
                            background-color: transparent;
                            outline: none;
                            border: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $black-transprent;
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            border: $ugest-border;
                        }
                        & .btn{
                            margin-right: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}